/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* HIDDEN LVL-1 HEADER */
.hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* LAYOUT PROPERTIES */
html, body {
    width: 100%;
    height: 100%;
}

html,
button,
input {
    font-size: 3.5vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.card {
    background-color: #dddddd;
    width: 100%;
}

@media (min-width: 75vh) {
    html,
    button,
    input {
        font-size: 2vh;
    }

    .card {
        width: fit-content;
    }
}

footer span { font-size: 1rem; text-align: center; }
footer a { font-size: 1rem; color: red; }


/* CUSTOM RULES */

ul {
    list-style: none;
}

.italics {
    font-style: italic;
}

.red {
    color: red;
}